<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/QA Project/Playwright Project/TechforingWebAutomation/pom.xml">
        <classes>
         <class name="testcases.TestSignUpPage">
             <methods>
              <include name="loadSignUpPage"/>
                 <include name="signUpWithValidCredentials"/>
             </methods>
         </class>
            <class name="testcases.TestSignInPage">
                <methods>
                    <include name="setUpClass"/>
                    <include name="signInWithValidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>